td {
    border: none;
    padding: 10px;
  }
  tr {
    border: none;
    padding: 20px;
  }
  
 th{
   background-color: rgb(16, 17, 15);
   color: orangered;
   padding: 15px;
 }
 tr:nth-child(even){
   background-color: salmon;
   color: blueviolet;
 }
 tr:nth-child(odd){
 color: yellow;
  background-color: blue;
}
#searchbar{
  text-align: center;
  padding: 30px;
  background-color: goldenrod;
  position: sticky;
  top: 0px;
}
input{
  height: 25px;
  width: 250px;
}